body {
  background-color: rgb(37, 45, 56);
}

#calculator {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgb(185, 209, 255);
  width: 150px;
  padding: 15px 10px;
}

#display-div input {
  text-align: right;
  width: 125px;
  font-size: 16px;
}

#keypad {
  display: flex;
  margin-top: 15px;
  align-items: flex-end;
  flex-flow: column nowrap;
  background-color: beige;
}

.number-row {
  display: flex;
}

#zero {
  width: 60px !important;
}

#keypad button {
  width: 30px;
  padding: 5px 10px;
}